body{
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    color:#333;
}
body{
    font-family: 'poppins',sans-serif;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 30px;
}
.nav-links{
    display:flex;
    gap:20px;
}
.nav-links a{
    text-decoration: none;
    color: black;
}
.skills-grid{
    display:grid;
    grid-template-columns: 
    repeat(3,1fr);
    gap:20px;
}
.skill-card{
    background-color: white;
    padding:20px;
    border-radius:10px;
}
.nav-links a{
    transition:color 0.3s;
}
.nav-links a:hover{
    color:blue;
}
button{
    transition:background-color 0.3s;
}
button:hover{
    background-color: blue;
    color:white;
}
@media(max-width:600px){
    .skills-grid{
        grid-template-columns: 1fr;
    }
    .navbar{
        flex-direction: column;
    }
    .nav-links{
        flex-direction: column;
        margin-top: 10px;
    }
}
    
